#canvas {
	
	width: 1000px;
}

canvas {
	width: 1000px;
	position: absolute;
	clip: rect(39px,961px,723px,39px);
	/*height: 240px;*/
	image-rendering: -moz-crisp-edges;    /* Firefox */
	image-rendering: -webkit-crisp-edges; /* Webkit (Safari) */
	image-rendering: pixelated;           /* Chrome */
	/*transform: scale(5.0);*/
}

* {
	/*background-color: red;*/
	margin:-39px;
	padding:0;
}